# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints

# Virtual Environment
venv/
env/
myEnv/

# System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Large raw datasets (if any)
*.csv
*.xlsx

# Logs
*.log
